<h4>With text-align:left</h4>
<div>

  <ad-button-slide icon="fa fa-trash" label="Delete this this" buttonClass="btn-slide-2" background="red"></ad-button-slide>
  <ad-button-slide icon="fa fa-pencil" label="Edit this" background="blue"></ad-button-slide>
  <ad-button-slide icon="fa fa-plus" label="Add this" background="green"></ad-button-slide>

</div>

<h4>With text-align:right</h4>
<div style="text-align:right;height:30px;">

  <ad-button-slide mini="1" icon="fa fa-trash" label="Delete this" buttonClass="btn-slide-2"></ad-button-slide>
  <ad-button-slide mini="1" icon="fa fa-pencil" label="Edit this"></ad-button-slide>

</div>

<h4>With absolute alignment to right</h4>
<div style="position:relative;">

  <div style="position:absolute;right:0px;top:0px;">
    <ad-button-slide icon="fa fa-trash" label="Delete this" buttonClass="btn-slide-2"></ad-button-slide>
  <ad-button-slide icon="fa fa-pencil" label="Edit this"></ad-button-slide>
  </div>

</div>
